{% if messages %}
    {% for m in messages %}
    <div id="message" class="container" id="message">
        <div class="alert alert-{{m.tags}} alert-dismissible text-center" role="alert">
        <button class="close" type="button" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
        <strong>
        {% if m.level == DEFAULT_MESSAGE_LEVELS.ERROR  %}
            Error
        {% else %}
            {{m.tags|title}}
        {% endif %}
        </strong>
        {{m}}
        </div>
    </div>
    {% endfor %}
{% endif %}
